.DS_Store
**/.env/**
**__pycache__**
**.pyc
labels
**settings.json
**.ipynb_checkpoints**
**/gt/**
add_apikey.sh

Tr_OCR/result_craft/
PaddleOCR/notebook/
PaddleOCR/icdar2015/
PaddleOCR/output/
PaddleOCR/pretrain_models/