.DS_Store
**/.env/**
**__pycache__**
**.pyc
labels
**settings.json
**.ipynb_checkpoints**
**/gt/**
trocr/evaluation-dataset/handwritten-typed-text-classification/model/*
trocr/evaluation-dataset/handwritten-typed-text-classification/data/*
POC/Tertiary_Task/Swin-Transformer-Object-Detection/data/*
POC/Tertiary_Task/Swin-Transformer-Object-Detection/cascade_mask_rcnn_swin_small_patch4_window7.pth
POC/Tertiary_Task/Swin-Transformer-Object-Detection/mmdetection/data/*
POC/Tertiary_Task/Swin-Transformer-Object-Detection/outputs/*
trocr/evaluation-dataset/handwritten-typed-text-classification/ml-herbaria-synthetic-text-dataset/files/*
trocr/evaluation-dataset/handwritten-typed-text-classification/ml-herbaria-synthetic-text-dataset/images/*
trocr/evaluation-dataset/handwritten-typed-text-classification/logs/*
trocr/evaluation-dataset/handwritten-typed-text-classification/tensors/*
trocr/evaluation-dataset/handwritten-typed-text-classification/ml-herbaria-synthetic-text-dataset/*.zip
trocr/label-extraction/data/*
trocr/label-extraction/lightning_logs/*
**.csv
trocr/label-extraction/comp-vision-scripts/*
trocr/datasets/*
