absl-py==0.12.0
affine==2.3.0
aiohttp==3.7.4.post0
alabaster==0.7.12
amply==0.1.4
amqp==5.0.6
anyio==2.2.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==20.1.0
arrow==1.1.0
ase==3.21.1
asgiref==3.3.4
asn1crypto==1.4.0
astroid==2.5.6
astropy==4.2.1
async-generator==1.10
async-timeout==3.0.1
atom==0.6.0
atomicwrites==1.4.0
attrs==20.3.0
audioread==2.1.9
Automat==20.2.0
autopep8==1.5.5
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.8.0
bidict==0.21.2
bids-validator==1.7.1
billiard==3.6.4.0
binaryornot==0.4.4
biopython==1.78
bitarray==2.0.1
black==21.4b2
bleach==3.3.0
blosc==1.10.2
bokeh==2.3.1
bolt-python==0.7.1
boto==2.49.0
boto3==1.17.63
botocore==1.20.63
Bottleneck==1.3.2
branca==0.4.2
brewer2mpl==1.4.1
bunch==1.0.1
bx-python==0.8.11
bytecode==0.12.0
CacheControl==0.12.6
cached-property==1.5.2
cachelib==0.1.1
cachetools==4.2.2
cachy==0.3.0
cairocffi==1.2.0
celery==5.0.5
cellh5==1.3.0
certifi==2020.12.5
cffi==1.14.5
cftime==1.4.1
chardet==4.0.0
ci-info==0.2.0
citeproc-py==0.5.1
cleo==0.8.1
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
cligj==0.7.1
clikit==0.6.2
cloudpickle==1.6.0
colorama==0.4.4
colormath==3.0.0
ConfigArgParse==1.4
configobj==5.0.6
configparser==5.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
cookiecutter==1.7.2
corner==2.2.1
coverage==5.5
crashtest==0.3.1
cryptography==3.4.7
cubes==1.1
custom-inherit==2.3.1
cutadapt==3.4
cvxopt==1.2.6
cycler==0.10.0
Cython==0.29.23
d2to1==0.2.12.post1
dask==2022.4.1
dask-image==2021.12.0
dask-jobqueue==0.7.3
dask-labextension==5.2.0
dask-mpi==2022.4.0
datascience==0.17.0
datrie==0.8.2
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
descartes==1.1.0
diff-match-patch==20200713
dill==0.3.3
Distance==0.1.3
distlib==0.3.1
distributed==2022.4.1
distro==1.5.0
Django==3.2
django-extensions==3.1.3
django-tagging==0.5.0
dnaio==0.5.1
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.16
duecredit==0.9.1
dulwich==0.20.21
easydict==1.9
EB==0.1.5
echo==0.5
ecos==2.0.7.post1
emcee==3.0.2
enaml==0.13.0
entrypoints==0.3
eppy==0.5.56
et-xmlfile==1.1.0
etelemetry==0.2.2
expressions==0.2.3
fast-histogram==0.9
FastaIndex==0.11rc7
fastcache==1.1.0
filelock==3.0.12
Fiona==1.8.19
fisher==0.1.9
flake8==3.8.4
Flask==1.1.2
Flask-Login==0.5.0
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
Flask-WTF==0.14.3
folium==0.12.1
freetype-py==2.2.0
fsspec==2021.4.0
funcsigs==1.0.2
future==0.18.2
futures==3.1.1
g2gtools==0.2.7
geopandas==0.9.0
george==0.4.0
gevent==21.1.2
gevent-websocket==0.10.1
gitdb==4.0.7
gitdb2==4.0.2
GitPython==3.1.14
glue-core==1.0.1
gobject==0.1.0
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
gql==2.0.0
grabbit==0.2.6
grako==3.99.9
graphql-core==2.3.2
greenlet==1.0.0
GridDataFormats==0.5.0
grin==1.3.0
gsd==2.4.2
gunicorn==20.1.0
guzzle-sphinx-theme==0.7.11
gvar==11.9.2
gym==0.18.0
h5py==3.2.1
HeapDict==1.0.1
helpdev==0.7.1
hmmlearn==0.2.5
html5lib==1.1
HTSeq==0.13.5
httplib2==0.19.1
hyperlink==21.0.0
hypothesis==6.10.1
icc-rt==2020.0.133
idna==2.10
igraph==0.1.11
imagecodecs==2021.4.28
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==4.0.1
importlib-resources==5.1.2
incremental==21.3.0
indexed-gzip==1.5.3
inflect==5.3.0
inflection==0.5.1
iniconfig==1.1.1
intel-openmp==2020.0.133
intervaltree==3.1.0
ipdb==0.13.7
ipykernel==5.5.3
ipytest==0.9.1
ipython==7.23.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isal==0.10.0
isodate==0.6.0
isort==5.8.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
jeepney==0.6.0
jellyfish==0.8.2
jgraph==0.2.1
Jinja2==2.11.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonpickle==2.0.0
jsonschema==3.2.0
Jug==2.1.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyter-packaging==0.9.2
jupyter-server==1.6.4
jupyter-server-proxy==3.0.2
jupyterlab==3.0.14
jupyterlab-pygments==0.1.2
jupyterlab-server==2.5.0
jupyterlab-widgets==1.0.0
keyring==21.8.0
kiwisolver==1.3.1
kombu==5.0.2
lazy-object-proxy==1.6.0
leidenalg==0.8.8
leveldb==0.201
librosa==0.8.0
libtiff==0.4.2
line-profiler==3.2.6
llvmlite==0.36.0
lmdb==1.2.1
locket==0.2.1
lockfile==0.12.2
logilab-common==1.8.1
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.1
matplotlib-inline==0.1.2
matplotlib-venn==0.11.6
mccabe==0.6.1
memory-profiler==0.58.0
meshio==4.4.1
misopy==0.5.4
mistune==0.8.4
mmtf-python==1.1.2
mock==4.0.3
more-itertools==8.7.0
mpi4py @ https://github.com/mpi4py/mpi4py/releases/download/3.0.3/mpi4py-3.0.3.tar.gz
mpl-scatter-density==0.7
mpld3==0.5.2
mpmath==1.2.1
msgpack==1.0.2
multidict==5.1.0
multipledispatch==0.6.0
multiprocess==0.70.11.1
munch==2.5.0
mypy-extensions==0.4.3
natsort==7.1.1
nb-black==1.0.7
nbclassic==0.2.7
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netCDF4==1.5.6
networkx==2.5.1
neurdflib==5.0.1
nibabel==3.2.1
nilearn==0.7.1
nipype==1.6.0
nitransforms==20.0.0rc3
niworkflows==1.3.3
nltk==3.6.2
nose==1.3.7
notebook==6.3.0
npyscreen==4.10.5
num2words==0.5.10
numba==0.53.1
numexpr==2.7.3
numpy==1.19.5
numpydoc==1.1.0
nvidia-ml-py3==7.352.0
oauth2client==4.1.3
olefile==0.46
opencv-contrib-python==4.5.1.48
openpyexcel==2.5.14
openpyxl==3.0.7
opt-einsum==3.3.0
ordered-set==4.0.2
orjson==3.6.8
osqp==0.6.2.post0
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parameters==0.2.1
parso==0.7.0
partd==1.2.0
pastel==0.2.1
path==15.1.2
path.py==12.5.0
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
pbr==5.6.0
pep517==0.10.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
PIMS==0.6.1
Pint==0.17
pip-tools==6.1.0
pkginfo==1.7.0
plotly==4.14.3
pluggy==0.13.1
ply==3.11
Pmw==2.0.1
poetry==1.1.7
poetry-core==1.0.3
pooch==1.3.0
poyo==0.5.0
progressbar2==3.53.1
prokaryote==2.4.2
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.15.8
prov==2.0.0
psutil==5.8.0
psycopg2-binary==2.8.6
ptyprocess==0.7.0
PuLP==2.4
py==1.10.0
py-midi==2.0.1
pyarrow==4.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybedtools==0.8.2
pybids==0.13
pyBigWig==0.3.18
pybind11==2.6.2
PyCifRW==4.4.3
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pydicom==2.1.2
pydocstyle==6.0.0
pydot==1.4.2
pydot-ng==2.0.0
pydot3k==1.0.17
pydotplus==2.0.2
pyEDFlib==0.1.22
pyerfa==1.7.3
pyface==7.3.0
pyflakes==2.2.0
pyglet==1.5.0
Pygments==2.9.0
PyHamcrest==2.0.2
PyLaTeX==1.4.1
pylev==1.4.0
pylint==2.8.2
pyls-black==0.4.6
pyls-spyder==0.4.0
Pympler==0.9
pynndescent==0.5.2
PyOpenGL==3.1.5
pyparsing==2.4.7
pypng==0.0.20
pyprof2calltree==1.4.5
pyproj==3.0.1
Pypubsub==4.0.3
PyQt5==5.12.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.17.3
pysam==0.16.0.1
pyScaf==0.12a4
pyserial==3.5
pyspglib==1.8.3.1
pystache==0.5.4
pytabix==0.1
pytest==6.2.3
pytest-cov==2.11.1
python-dateutil==2.8.1
python-engineio==4.1.0
python-gflags==3.1.2
python-igraph==0.9.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.0.1
python-lzo==1.12
python-memcached==1.59
python-slugify==5.0.0
python-socketio==5.2.1
python-utils==2.5.6
pytz==2021.1
PyVCF==0.6.8
PyWavelets==1.1.1
PyX==0.15
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.0.3
QDarkStyle==3.0.2
qdldl==0.1.5.post0
qstylizer==0.2.0
QtAwesome==1.0.2
qtconsole==5.1.0
QtPy==1.9.0
quantities==0.12.4
rasterio==1.2.3
ratelimiter==1.2.0.post0
rdflib==5.0.0
redis==2.10.6
regex==2021.4.4
reportlab==3.5.67
requests==2.25.1
requests-toolbelt==0.9.1
resampy==0.2.2
retrying==1.3.3
rope==0.19.0
rope-py3k==0.9.4.post1
rsa==4.7.2
Rx==1.6.1
s3transfer==0.4.2
scandir==1.10.0
schema==0.7.4
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.6.2
sciris==1.1.1
scirisweb==0.17.0
scoop==0.7.1.1
seaborn==0.11.1
SecretStorage==3.3.1
Send2Trash==1.5.0
sentry-sdk==1.0.0
service-identity==18.1.0
setproctitle==1.2.2
setuptools-scm==6.0.1
Shapely==1.7.1
shellingham==1.4.0
shortuuid==1.0.1
simpervisor==0.4
simplegeneric==0.8.1
simplejson==3.17.2
singledispatch==3.6.1
six==1.15.0
sklearn==0.0
slicerator==1.1.0
smart-open==5.0.0
smmap==4.0.0
smmap2==3.0.1
snakemake==6.3.0
sniffio==1.2.0
snowballstemmer==2.1.0
snuggs==1.4.7
sortedcontainers==2.3.0
SoundFile==0.10.3.post1
soupsieve==2.2.1
spglib==1.16.1
Sphinx==4.0.0b2
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
spyder==5.0.1
spyder-kernels==2.0.2
spyder-line-profiler==0.2.1
spyder-memory-profiler==0.2.1
SQLAlchemy==1.3.24
sqlparse==0.4.1
statsmodels==0.12.2
stevedore==3.3.0
stopit==1.1.2
stsci.distutils==0.3.7
stsci.image==2.3.3
stsci.tools==3.6.0
subprocess32==3.5.4
svgutils==0.3.1
sympy==1.8
tables==3.6.1
tbb==2020.3.254
tblib==1.7.0
templateflow==0.7.1
terminado==0.9.4
termplotlib==0.3.4
testpath==0.4.4
text-unidecode==1.3
textdistance==4.2.1
texttable==1.6.3
Theano==1.0.5
threadpoolctl==2.1.0
three-merge==0.1.1
thunder-python==1.4.2
tifffile==2021.4.8
tinycss2==1.1.0
tinynumpy==1.2.1
toml==0.10.2
tomlkit==0.7.0
toolz==0.11.1
toposort==1.6
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
tornado==6.1
toyplot==0.19.0
tqdm==4.60.0
traitlets==5.0.5
traits==6.2.0
traitsui==7.1.1
transforms3d==0.3.1
Twisted==21.2.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
ujson==4.0.2
umap-learn==0.5.1
uritemplate==3.0.1
urllib3==1.26.4
vegas==4.0
versioneer==0.19
vine==5.0.0
virtualenv==20.4.4
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
vispy==0.6.6
wandb==0.10.28
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket==0.2.1
Werkzeug==1.0.1
wget==3.2
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer==2.1.0
xlrd==1.2.0
xlsx2csv==0.7.8
XlsxWriter==1.4.0
xlwt==1.3.0
xnat==0.3.26
xopen==1.1.0
yapf==0.31.0
yarl==1.6.3
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
