mxnet>=1.4.0
torch>=0.4.1
torchvision>=0.2.1
opencv-python>=3.4.2
scikit-image>=0.14.2
scipy>=1.1.0
numpy>=1.15
matplotlib
mxboard>=0.1.0
pandas
tqdm>=4.63.1
jupyter
ipykernel
notebook
python-dwca-reader
