beautifulsoup4==4.11.1
certifi==2022.9.24
charset-normalizer==2.1.1
contourpy==1.0.6
craft-text-detector @ git+https://github.com/lilloukas/craft-text-detector.git@f90fbf461d84c256e796cd2b90d18935e0d7383b
cycler==0.11.0
Cython==0.29.32
filelock==3.8.0
fonttools==4.38.0
gdown==4.5.4
huggingface-hub==0.11.1
idna==3.4
joblib==1.2.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.23.5
opencv-python==4.5.4.60
packaging==21.3
pandas==1.5.2
Pillow==9.3.0
pycountry==22.3.5
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
regex==2022.10.31
requests==2.28.1
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
soupsieve==2.3.2.post1
sparse-dot-topn-for-blocks==0.3.1.post3
string-grouper==0.6.1
threadpoolctl==3.1.0
tokenizers==0.13.2
topn==0.0.7
torch==1.13.0
torchaudio==0.13.0
torchvision==0.14.0
tqdm==4.64.1
transformers==4.24.0
typing_extensions==4.4.0
urllib3==1.26.13
